node_modules/
.env
uploads/*
!uploads/.gitkeep
uploads/avatars/*
!uploads/avatars/.gitkeep
uploads/images/*
!uploads/images/.gitkeep
uploads/documents/*
!uploads/documents/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep
